.chat-info {
  display: flex;
  border-bottom: 1px solid;
  background-color: #5d5b8d;
  flex: 1;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.info-element {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;

}

.options-btn{
  cursor: pointer;
  background-color: #5d5b8d;
  border: 0px;
  background-image: url('https://icon-library.com/images/more-icon-png/more-icon-png-1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position:  center;
  background-size: 50%;
  border-radius: 12px;
}
.options-btn:focus {
  outline: none;
}


.img-icon {
  background-color: #5d5b8d;
  height: 30px;
  width: 30px;
}

.massages-card  {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 7;
  background-color: #ddddf7;
  padding-top: 6px;
}

.chat-icons{
  display: flex;
}

.massages-card::-webkit-scrollbar {
  width: 0px;
}

.input-bar-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
}

.input-container {
  height: 97%;
  flex: 8;
}

.send-btn-and-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex: 1;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 100%;
  

}
.text-massage-input {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 0px;
  border-radius: 0px;
  color: black;
  outline: none;
  padding-left: 24px;
  font-size: 110%;
}

.img-element {
  background-color: white;
  height: 22px;
  width: 22px;
  object-fit:fill;
  cursor: pointer;

}
#img-pic{
  height: 30px;
  width: 30px;
  cursor: pointer;

}

.send-btn {
  background-color: white;
  border: 0px;
  cursor: pointer;
  font-size: 16px;
}

.non-selcted-room-view{
  display: flex;
  font-size: 36px;
  background-color: #f1e9e9a0;
  flex: 2;
  align-items: center;
  justify-content: center; 
}
