.view-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgb(110, 116, 171);
  width: 20%;
  height: 60%;
  border-radius: 12px;
  font-family:'Heebo', sans-serif;
}
.view-profile-exit-btn{
    height: 20px;
    width: 20px;
    flex:1;
    align-self: flex-end;
    cursor: pointer;
    
}

.view-profile-pic-container{
    flex:7

}

.view-profile-img{
    height: 120px;
    width: 120px;
}

.view-profile-username-container{
    flex:6;
    font-size: 46px;
    font-weight: bolder;
    color: white;

}

.view-profile-status-container{
    flex:6;
    font-size: 20px;
    font-weight:bold;
    color: black;
    

}


@media only screen and (min-width: 501px) and (max-width:960px) {
    .view-profile-container{
        width: 25%;
    }
    .view-profile-img{
        height: 90px;
        width: 90px;
    }

    .view-profile-username-container{
        font-size: 38px;
    }
    
    .view-profile-status-container{
        font-size: 18px;
    }
  
  }
  @media only screen and (min-width: 320px) and (max-width:500px) {
    .view-profile-container{
        width: 60%;
        height: 60%;
    }
    .view-profile-img{
        height: 110px;
        width: 110px;
    }

    .view-profile-username-container{
        font-size: 40px;
    }
    
    .view-profile-status-container{
        font-size: 26px;
    }
  }

