@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');


.user-block-container{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #3e3c61;
    box-shadow: 0 0 0.9px rgb(210, 198, 198);
    font-family:'Heebo', sans-serif;
    font-weight: bolder;
}

.user-block-container:hover{
    background-color: #2f2d52;

}

img{
    background-color: #ddddf7;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 8px;
   
}


.name-div{
    font-size: 19px;
    width: 80%;
    color: white;
}

.massage-div{
    width: 80%;
    font-size: 12px;
    color: lightgray;

}

.details-container{
    width: 80%;
    display: flex;
    margin-right: 10px;
}

.unread-massages-counter{
    color: red;
    font-weight: bolder;
    display: flex;
    background-color: #fff;
    width: 7%;
    height: 50%;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}


@media only screen and (min-width: 501px) and (max-width:960px) {
    .name-div{
        font-size: 14px;
    }
    .massage-div{
        font-size: 8px;
    }
    .user-block-container{
        height: 50px;
    }
    img{
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
    
    }
    
    
    @media only screen and (min-width: 320px) and (max-width:500px) {
 
        .name-div{
            font-size: 26px;
        }

        .user-block-container{
            height: 80px;
        }
        img{
            height: 60px;
            width: 60px;
        }
    }
