.home-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-container{
    height: 8%;
    min-height: 45px;
}

.rest-of-component-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;
    height: 92%;
}