.create-group-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 55%;
  width: 30%;
  background-color: rgb(110, 116, 171);
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  
}
.group-name-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.discription-container {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.img-group-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: rgb(110, 116, 171);
}

.submit-group-container {
  display: flex;
  flex: 1.5; 
  width: 50%;
  justify-content: center;
  align-items: center;

}


.browse-btn {
    height: 30%;
}

.group-label{
    color: white;
}

.submit-group-button {
    height: 60%;
    width: 40%;
    font-size: 18px;
    border-radius: 20px;
}

.create-group-exit-btn{
    height: 20px;
    width: 20px;
    background-color: #313856;
    cursor: pointer;
}

.create-group-exit-container{
    display: flex;
    flex: 0.2; 
    width: 100%;
    justify-content: right;

}

.create-group-header{
  font-size: 36px;
  color: white;
  margin-bottom: 16px;
}

#discription-input{
  background-color: rgb(110, 116, 171);
}

#group-name-input{
  background-color: rgb(110, 116, 171);
}
