

.chat-container{
    width: 80%;
    height: 75%;
    border-radius: 12px;
}

.chat-card{
    display: flex;
    height: 100%;
    border-radius: 12px;

}

#side-bar{
    flex:2.8;
    display: flex;
    flex-direction: column;

}

#chatwin{
    flex: 7;
    display: flex; 
    flex-direction: column;

}

#menu{
    flex: 1.5;
    height: 100%;
}

.non-selcted-room-view{
    flex: 7;
}


@media only screen and (min-width: 320px) and (max-width:500px) {
    .chat-container{
        width:90%;
        height: 40%;
        border-radius: 12px;
    }

}



