

.chat-container{
    width: 90%;
    height: 90%;
    border-radius: 12px;
    display: flex;
    align-self: center;
    justify-content: center;
}


#side-bar{
    flex:3;
    display: flex;
    flex-direction: column;

}

#chatwin{
    flex: 8.5;
    display: flex; 
    flex-direction: column;
    height: 100%;
    

}


.non-selcted-room-view{
    flex: 8.5;
}


@media only screen and (min-width: 320px) and (max-width:500px) {
    .chat-container{
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
    
    .chat-card{
        height: 100%;
        width: 100%;
        border-radius: 12px;
    
    }



}



