.add-friend-container{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 20%;
    height: 55%;
    background-color: rgb(110, 116, 171);
    border-radius: 18px;
    align-items: center;
    color: white;
    
}
.inputs-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 6;

}

.search-btn-of-addFriend{
    width: 35%;
    height: 16%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#add-friend-serach-input{
    background-color: rgb(110, 116, 171);
    color: white;
}

.results-of-search{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-friend-exit-btn-container{
    flex: 1;
    align-self: flex-end;
}

.add-friend-header{
    font-size: 34px;
}