.RegisterContainer{
    width: 55%;
    height: 60%;
}

.RgistrationCard{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid;
    background-color: rgba(62, 231, 197,0.8);
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.header{
    margin: 4%;
}

.bodyOfReg{
    margin: 2%;
    width: 60%;
}

.element{
    margin: 15px;
    font-size: 20px;
}


input{
    background-color: rgb(44, 51, 113);
    border-radius: 6px ;
    color: black;
    height: 30px;
}

input:invalid{
    background-color: rgb(44, 51, 113);
}



.btn-container{
    display: flex;
    justify-content: center;
}

#btn{
    width: 70px;
    height: 40px;
    border-radius: 4px;

}

input::placeholder{
    padding-left: 6px;
}

.reg-error-massages{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(159, 59, 92);
    font-weight: bolder;
}
.successful-massage{
    color: green;
}
