

.Register-container{
    width: 24%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    flex-direction: column;
}

.Register-header{
    color: black;
    flex: 1;
}

.bodyOfReg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 8;
    width: 100%;
}



.Register-btn-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

#Register-btn{
    width: 55%;
    height: 40px;
    border-radius: 20px;
    background-color: #3df7a3;
    font-size: 18px;
    color: white;
    font-weight: bolder;
    cursor: pointer;

}


.reg-error-massages{
    margin: 6px;
    display: flex;
    color: rgb(159, 59, 92);
    font-weight: bolder;
    flex:0.1;   
}

.taken-username-error{
    display: flex;
    color: rgb(159, 59, 92);
    font-weight: bolder;
    flex:0.5;   
}

.unidentical-error{
    display: flex;
    color: rgb(159, 59, 92);
    font-weight: bolder;
    flex:0.2; 
}
.successful-massage{
    color: green;
}
