

html, body ,#root , .App{
  height: 100%;
  background-color: rgb(110, 116, 171);
}

* {
  margin: 0;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}


h3{
font-size: 280%;
}



