@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

html, body ,#root , .App{
  height: 100%;
  background-color: rgb(110, 116, 171);
}

* {
  margin: 0;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}




button{
  border-radius: 6px;
  font-family: 'Paytone One', sans-serif;
  color:#313856 ;
  cursor: pointer;
}





